@import "tailwindcss";


@layer utilities {
  @keyframes floatSlow {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes floatReverse {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(25px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .float-slow {
    animation: floatSlow 6s ease-in-out infinite;
  }

  .float-reverse {
    animation: floatReverse 8s ease-in-out infinite;
  }
}